/*home component*/
.salonImg {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  border: 5px solid pink;
  margin-top: 80px;
}
